<div class="banner user_dashboard" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(45,38,100,0.6) 50%), url('http://unsplash.it/gr/600/300?gravity=center&random');">
  <h1 class="text-center">Hello Mr. <%= current_user.last_name %></h1>
</div>

<div class="container tables">
    <div class="row" id="tables">

      <div class="col-xs-3">
        <div class="profile_cards text-center" id="avatar">
          <img src="http://www.fillmurray.com/60/60" alt="user" class="avatar-large">
          <p><%= @user.first_name.humanize %> <%= @user.last_name.humanize %> </p>
          <p><%= @user.email.humanize %></p>

        </div>
      </div>

      <div class="col-xs-9">
        <div class="profile_cards main">
        <h3 class="text-center">Your bookings</h3>
          <table class="table table-hover text-center">
            <thead>
              <tr>
              <td>Name</td>
              <td>Address</td>
              <td>Start</td>
              <td>End</td>
              <td>Cancel</td>
              </tr>
            </thead>
            <tbody class="table-hover" id="booking">
              <% @bookings.each do |booking| %>
                <tr id="<%= booking.id %>">
                  <td><%= link_to booking.venue.name, venue_path(booking.venue) %></td>
                  <td><%= booking.venue.address %></td>
                  <td><%= booking.start %></td>
                  <td><%= booking.end %></td>
                  <td><%= link_to "Cancel Booking", booking_path(booking), method: "delete", remote: true %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-xs-9 col-xs-offset-3">
        <div class="profile_cards">
          <h3 class="text-center">Your Venues</h3>
          <table class="table table-hover text-center">
            <thead>
              <tr>
              <td>Name of Venue</td>
              <td>Address</td>
              <td>City</td>
              <td>Map</td>
              </tr>
            </thead>
            <tbody class="table-hover">
              <% @venues.each do |venue| %>
                <tr>
                  <td><%= link_to venue.name, venue_path(venue) %></td>
                  <td><%= venue.address %></td>
                  <td><%= venue.city %></td>
                  <td><%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=50x50&sensor=false&maptype=roadmap&markers=color:red|#{venue.address}" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
