<h1>Your Booking Overview</h1>

<h3>these are all your bookings Mr. <%= current_user.email %></h3>

<div class="col-xs-12 col-md-8 col-md-offset-2">
  <table class="table">

      <% @bookings.each do |booking| %>
        <tr>
          <td><%= booking.venue.name %></td>
          <td><%= booking.venue.address %></td>
          <td><%= booking.start %></td>
          <td><%= booking.end %></td>
        </tr>
      <% end %>

  </table>
</div>
