<div class="container">
  <h1 class="text-center">Hello Mr. <%= current_user.last_name %></h1>
  <h3 class="text-center">these are your bookings</h3>
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-hover">
        <thead>
          <tr>
          <td>Name</td>
          <td>Address</td>
          <td>Start</td>
          <td>End</td>
          <td>Cancel</td>
          </tr>
        </thead>
        <tbody class="table-hover">
          <% @bookings.each do |booking| %>
            <tr>
              <td><%= link_to booking.venue.name, venue_path(booking.venue) %></td>
              <td><%= booking.venue.address %></td>
              <td><%= booking.start %></td>
              <td><%= booking.end %></td>
              <td><%= link_to "Cancel Booking", booking_path(booking), method: "delete"  %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <table class="table table-hover">
        <thead>
          <tr>
          <td>Name of Venue</td>
          <td>Address</td>
          <td>City</td>
          </tr>
        </thead>
        <tbody class="table-hover">
          <% @venues.each do |venue| %>
            <tr>
              <td><%= link_to venue.name, venue_path(venue) %></td>
              <td><%= venue.address %></td>
              <td><%= venue.city %></td>
            </tr>
          <% end %>
        </tbody>
      </table>


    </div>
  </div>
</div>
