

    <div class="container-fluid" class="embed-responsive embed-responsive-16by9">
        <div class="row">
        <video autoplay muted loop class="embed-responsive-item video-banner" id="autovid" width="100%" >
            <source src="https://12-lvl3-pdl.vimeocdn.com/01/4307/4/121536139/343637039.mp4?expires=1493202350&token=09b7098f2a84bf27d9e74">
        </video>
        <%= render "shared/search_form" %>
        </div>
    </div>



  <div class="wrapper-content">
    <div class="container">

        <div class="row">
        <%= link_to controller: "venues", query: "bars" do %>
        <div class="col-xs-6 col-sm-4">
          <div class="card">
          <div class="card-category">bars</div>
          <%= image_tag "barvenue.jpg", class: "venues" %>
          </div>
          <% end %>
        </div>

        <div class="col-xs-6 col-sm-4">
        <%= link_to controller: "venues", query: "coworking" do %>
          <div class="card">
          <div class="card-category">co-working spaces</div>
          <%= image_tag "coworkingspaces.jpg", class: "venues" %>
          </div>
          <% end %>
        </div>

        <div class="col-xs-6 col-sm-4">
          <%= link_to controller: "venues", query: "clubs" do %>
          <div class="card">
          <div class="card-category">clubs</div>
          <%= image_tag "clubspace.jpg", class: "venues" %>
          </div>
          <% end %>
        </div>

        <div class="col-xs-6 col-sm-4">
          <%= link_to controller: "venues", query: "mixed_usage" do %>
            <div class="card">
            <div class="card-category">mixed-use</div>
            <%= image_tag "openconceptspaces.jpg", class: "venues" %>
            </div>
          <% end %>
        </div>

        <div class="col-xs-6 col-sm-4">
          <%= link_to controller: "venues", query: "outdoor" do %>
          <div class="card">
          <div class="card-category">outdoor space</div>
          <%= image_tag "outdoorspace.jpg", class: "venues" %>
          </div>
          <% end %>
        </div>

        <div class="col-xs-6 col-sm-4">
        <%= link_to controller: "venues", query: "restaurants" do %>
          <div class="card">
          <div class="card-category">restaurants</div>
          <%= image_tag "restaurants.jpg", class: "venues" %>
          </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="copyright">
          © 2017, Spacebook, All rights reserved
          </div>
        </div>
      </div>
    </div>
  </div>
