

    <div class="video_box ">
    <div  class="embed-responsive embed-responsive-16by9 container-fluid">
        <div class="row">
        <video autoplay muted loop class="embed-responsive-item video-banner" id="autovid" width="100%" >
            <source src="<%=cl_video_path "Venue-vid2_g5cz4x"%>">

        </video>
        <%= render "shared/search_form" %>

        </div>
    </div>
    </div>



  <div class="wrapper-content">
     <h2 class="text-center" style="font-size: 210%">Choose a category</h2>
     <br><br>
    <div class="container">

        <div class="row">
        <%= link_to controller: "venues", query: "bars" do %>
        <div class="col-xs-6 col-sm-4">
          <div class="card">
          <div class="card-category">bars</div>
          <%= cl_image_tag "bars_rcch7x", class: "venues" %>
          </div>
          <% end %>
        </div>

        <div class="col-xs-6 col-sm-4">
        <%= link_to controller: "venues", query: "coworking" do %>
          <div class="card">
          <div class="card-category">co-working spaces</div>
          <%= cl_image_tag "coworking_mvlgi9", class: "venues" %>
          </div>
          <% end %>
        </div>

        <div class="col-xs-6 col-sm-4">
          <%= link_to controller: "venues", query: "clubs" do %>
          <div class="card">
          <div class="card-category">clubs</div>
          <%= cl_image_tag "clubs_yus1im",class: "venues" %>
          </div>
          <% end %>
        </div>

        <div class="col-xs-6 col-sm-4">
          <%= link_to controller: "venues", query: "mixed_usage" do %>
            <div class="card">
            <div class="card-category" style="border-bottom-left-radius: 50px;">mixed-use</div>
            <%= cl_image_tag "mixed_jiikzr", class: "venues", style: " border-top-left-radius: 0px;
  border-top-right-radius: 0px;     border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;" %>
            </div>
          <% end %>
        </div>

        <div class="col-xs-6 col-sm-4">
          <%= link_to controller: "venues", query: "outdoor" do %>
          <div class="card">
          <div class="card-category">outdoor space</div>
          <%= cl_image_tag "outdoor_tuxtdq", class: "venues", style: " border-top-left-radius: 0px;
  border-top-right-radius: 0px;    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;" %>
          </div>
          <% end %>
        </div>

        <div class="col-xs-6 col-sm-4">
        <%= link_to controller: "venues", query: "restaurants" do %>
          <div class="card">
          <div class="card-category">restaurants</div>
          <%= cl_image_tag "restaurants_t88xsy", class: "venues", style: " border-top-left-radius: 0px;
  border-top-right-radius: 0px;     border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;" %>
          </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
