
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "bannerpic.jpg" %>');">
  <div class="banner-content">
    <h1>Find exclusive and unique venues for every occasion</h1>
  </div>
</div>






    <div class="row">
      <div class="col-xs-6 col-sm-4">
        <div class="card">
        <%= image_tag "barvenue.jpg", class: "venues" %>
          <div class="card-category">bars</div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4">
        <div class="card">
        <%= image_tag "coworkingspaces.jpg", class: "venues" %>
          <div class="card-category">co-working spaces</div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4">
        <div class="card">
        <%= image_tag "clubspace.jpg", class: "venues" %>
          <div class="card-category">clubs</div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4">
        <div class="card">
        <%= image_tag "openconceptspaces.jpg", class: "venues" %>
          <div class="card-category">mixed-use</div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4">
        <div class="card">
        <%= image_tag "outdoorspace.jpg", class: "venues" %>
          <div class="card-category">outdoor space</div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4">
        <div class="card">
        <%= image_tag "restaurants.jpg", class: "venues" %>
          <div class="card-category">restaurants</div>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="text-center featured_venues">
      <p> <%= link_to "show venues", venues_path, class: "home-button" %>
      </p>
      <div class="col-xs-6 col-sm-4">
        <div class="card">
          <% @featured_venues.each do |venue| %>
          <%= image_tag venue.photo %>
          <%= venue.name %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

