

  <div class="container">
    <%= image_tag "banner3.png", class: "banner" %>
      <div class="row">
        <div class="col-xs-6 col-sm-3">
          <div class="card text-center">
            <h1> VENUES </h1>
              <div class="card-body">
                <p>this will be the card</p>
              </div>
          </div>
        </div>
      </div>

  <div class="category-list">
    <div class="category-item">
      <%= image_tag "barvenue.jpg", class: "venues" %>
        <div class="category-name">bars</div>
      </div>
    <div class="category-item">
      <%= image_tag "coworkingspaces.jpg", class: "venues" %>
        <div class="category-name">co-working spaces</div>
      </div>
    <div class="category-item">
      <%= image_tag "openconceptspaces.jpg", class: "venues" %>
        <div class="category-name">mixed-use</div>
      </div>
      <div class="category-item">
        <%= image_tag "outdoorspace.jpg", class: "venues" %>
          <div class="category-name">outdoor venues</div>
      </div>
      <div class="category-item">
        <%= image_tag "clubspace.jpg", class: "venues" %>
          <div class="category-name">clubs</div>
      </div>
    </div>
  </div>





      <h3><%= link_to "Create a new venue", new_venue_path  %></h3>

      <h3><%= link_to "Go Back to Home", root_path  %></h3>


</div>






