
<div class="container">

    <div class=text-center>
      <h1>Discover Our Venues</h1>
    </div>
    <%= render "shared/new_form" %>
    <hr>
    <div id="map" style="width: 100%; height: 300px;">
      <div id="search_bar"></div>
    </div>

  <div class="row text-center">
    <% @venues.each do |venue| %>
      <div class="col-xs-6 col-sm-4">
        <div class="card-venues">
          <div class="card-body">
            <h3><%= link_to venue.name, venue_path(venue, :capacity => params[:capacity]) %></h3>
            <p><%= "Address: #{venue.address}" %></p>
            <p><%= "Capacity: #{venue.capacity}" %></p>
            <p><%= "Price: #{venue.price}" %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% content_for(:after_js) do %>
  <script type="text/javascript">
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  </script>
<% end %>


