

  <div class="container">
    <%= image_tag "banner3.png", class: "banner" %>
      <div class="row">
        <div class="col-xs-6 col-sm-3">
          <div class="card text-center">
            <h1> VENUES </h1>
              <div class="card-body">
                <p>this will be the card</p>
              </div>
          </div>
        </div>
      </div>


  <div class="row">
    <div class="col-xs-6 col-sm-4">
      <div class="card">
      <%= image_tag "barvenue.jpg", class: "venues" %>
        <div class="card-category">bars</div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4">
      <div class="card">
      <%= image_tag "coworkingspaces.jpg", class: "venues" %>
        <div class="card-category">co-working spaces</div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4">
      <div class="card">
      <%= image_tag "clubspace.jpg", class: "venues" %>
        <div class="card-category">clubs</div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4">
      <div class="card">
      <%= image_tag "openconceptspaces.jpg", class: "venues" %>
        <div class="card-category">mixed-use</div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4">
      <div class="card">
      <%= image_tag "outdoorspace.jpg", class: "venues" %>
        <div class="card-category">outdoor space</div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4">
      <div class="card">
      <%= image_tag "restaurants.jpg", class: "venues" %>
        <div class="card-category">restaurants</div>
      </div>
    </div>
</div>





      <h3><%= link_to "Create a new venue", new_venue_path  %></h3>

      <h3><%= link_to "Go Back to Home", root_path  %></h3>


</div>






