
<div class="container">
<!--  -->
<%= render "shared/search_form" %>
<hr>
<div id="map" style="width: 100%; height: 300px;">
  <div id="search_bar">

  </div>
</div>

<div class="row text-center">
<h1> VENUES </h1>
  <div class="col-xs-6 col-sm-3">
    <div class="card text-center">
        <div class="card-body">
          <% @venues.each do |venue| %>
              <p><%= link_to venue.name, venue_path(venue) %></p>
              <p><%= venue.address %></p>
              <p><%= venue.capacity %></p>
              <p><%= venue.price %></p>
              <hr>
          <% end %>


        </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script type="text/javascript">
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  </script>
<% end %>



