


    <div id="map" style="width: 100%; height: 300px;">
      <div id="search_bar"></div>
    </div>

<div class=text-center>
      <h1>Discover Our Venues</h1>
    </div>

    <%= render "shared/new_form" %>

  <div class="container" id="index">



        <div class="row text-center" style="margin-left: -42px;">
          <% @venues.each do |venue| %>
            <div class="col-xs-6 col-sm-4">
              <div class="card venues">
                <div class="card-body" id="venue_results" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://s-media-cache-ak0.pinimg.com/originals/97/83/55/9783552a8a82f1bec0f0ee16131abdf5.jpg');">
                  <h3><%= link_to venue.name, venue_path(venue, :capacity => params[:capacity]) %></h3>
                </div>

                <p class="glyphicon glyphicon-sunglasses" id="price2"><%= "#{venue.capacity}" %></p>
                <p class="glyphicon glyphicon-euro" id="price"><%= "#{venue.price}"%></p>
              </div>
            </div>
          <% end %>
        </div>


  </div>
</div>


<% content_for(:after_js) do %>
  <script type="text/javascript">
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  </script>
<% end %>


