
<div class="container">

  <%= image_tag @venue.photo %>

  <div class="banner-content">
    <h1><%= @venue.name %></h1>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8"><h2>Information</h2></div>
    <div class="col-xs-6 col-md-4"><h2>Summary</h2></div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
      <p><%= @venue.address %></p>
      <p>Venue Category: <%= @venue.category %></p>
      <p>Capacity: <%= @venue.capacity %></p>
      <p>Price per Day (€): <%= @venue.price %></p>
    </div>
    <div class="col-xs-6 col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <p> <%= @venue.name %></p>
            <p><%= @venue.address %></p>
              <hr>
            <p> Guests: </p>
            <p> Date: </p>
              <hr>
              <%= button_to "Book now", venue_bookings_path(params[:id]),  method: "post", class: "home-button"  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

